/* Produkt.php */

#container_produkt {
    height: 2000px;
    background: #FFFFFF;
    margin: 2.5% auto;
    width: 95%;
    padding: 1rem;
}

#produkt_big{
    font-style: normal;
    border: 1px solid black;
    text-align: center;
    font-size: 25px;
    position: relative;
    left: 20%;
    width: 60%;
    height: 1000px;
}

#kup_teraz{
    margin-left: 10px;
    font-size: 29px;
    background-color: #FF5A00;
    color: white;
    border: none;
    padding: 10px;
    text-align: center;
    text-decoration: none;
}

#kup_teraz:hover{
    background-color: #ff8800;
}

#ile_sztuk{
    text-align: center;
    width: 10%;
}

.komentarze{
    margin-left: 5%;
    font-style: normal;
    text-align: center;
}

.nie_oceniony{
    text-align: center;
}