/* rendering well on different browsers */
* {     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* SEKCJA CSS DO <div> -----------------*/
#container {
	background: #FFFFFF;
	margin: 2.5% auto;
	width: 95%;
	padding: 1rem;
}

#sticky_menu {
	width: 100%;
	padding: 10px 0;
	background-color: #FFFFFF;
	text-align: center;
	border-top: 1px solid #d2d4d6;
	border-bottom: 1px solid #d2d4d6;
}

#header {
text-align: center;
}

#main {
	padding-top: 10px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	text-align: justify;
	font-style: italic;
}

#sidebar {

}

#footer {
	color: white;
	width: 100%;
	text-align: center;
	background-color: #444;
	padding: 30px;
}

/* ELEMENTY STRONY -----------------*/
body {
	background-color: #ECEFF1;
	color: #000000;
	font-family: 'Noto Sans', sans-serif;
	font-size: 20px;
	margin: 0 !important;
}

h1 {
	text-align: center;
	height: 20 px;
}

h2 {
	text-align: center;
	height: 15 px;
}

p {
	height: 10 px;
}

a {
	color: red;
	height: 8 px;
}

ul {
	margin: 30px 0 30px 0;
	padding: 0;
}

ol {
	padding: 0;
	margin: 0;
	list-style-type: none;
	font-size: 18px;
	height: 35px;
	line-height: 200%;
	display: inline-block!important;
}

ol a{
	color: #000000;
	text-decoration: none;
	display: block;
}

ol > li{
	float: left;
	width: 150px;
	height: 40px;
}