/* rendering well on different browsers */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

header{
	text-align: center;
}

ul {
margin: 30px 0 30px 0;
padding: 0;
}

#menu li {
display: inline;
list-style: none;
}

#menu li a {
margin: 0 5px 0 0;
padding: 5px 20px 5px 20px;
text-align: center;
white-space: nowrap;
line-height: 50px;
font-size: 20px;
color: rgba(66,48,1,1);
border-radius: 5px;
border: 1px solid rgba(105,181,50,1);
background: rgba(122,199,67,1);
box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.3), 0 2px 3px rgba(0,0,0,0.70);
}

#meny li li a {
	margin: 5px 0 0 10px;
	padding: 5px 10px 5px 0;
	border: 1px solid rgba(0,0,0,1);
	background: rgba(138,198,94,1);
}

#menu li a:hover {
cursor: pointer;
background: rgba(178,232,139,1);
color: rgba(0,0,0,1);
}

#menu a:link, #menu a:visited {
color: rgba(255,255,255,1);
text-decoration: none;
}

#menu a:active {
color: rgba(250,191,12,1);
}

#menu a#current {
	margin: 5px 0 0 0;
	background: rgba(85,137,48,1);
}


h1 {
	text-align: center;
	height: 20 px;

}


h2 {
	text-align: center;
	height: 15 px;
}

p {
	height: 10 px;
}

a {
	color: red;
	height: 8 px;
}

section {
	text-align: center;
	font-style: italic;
	
}

footer {
	text-align: center;
	background-color: grey;
}
img {
	background-color: grey;
}
